<p>Id: <%= form_property.id %></p>
<p>Activiti Form Id: <%= form_property.formpropid %></p>
<p>Name: <%= form_property.name %></p>
<p>Type: <%= form_property.formproptype %></p>
<p>Value: <%= form_property.value %></p>
<p>Writeable: <%= form_property.writeable %></p>
<p>Processed: <%= form_property.processed %></p>
