<div class="panel panel-default">
   <div class="panel-heading">
      <h3 class="panel-title">
       <%= task.name %>
      </h3>
    </div>

 <div class="panel-body">
    <p><em>Assignee <%= task.assignee %></em></p>

    <%= task.id %>
    <%= task.url %>
    <%= task.name %>
    <%= task.description %>
  </div>
</div>
